<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout/fragment.html}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Village | Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="card text-center">
        <div class="card-header">
            Espace village
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <form method="post" th:action="@{/village/ajout}" th:object="${village}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="prenom_nom">Nom du village</label>
                                <input type="text" class="form-control" id="prenom_nom" name="nom" placeholder="Nom du village">
                            </div>
                        </div>
                        <div class="form-row">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Nom Village</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="village:${villages}">
                                <th scope="col" th:text="${village.nom}"></th>
                                <th scope="col">
                                        <a th:href="@{/village/detail/{id}(id = ${village.id})}" id="detail" class="edit">
                                            <button class="btn btn-outline-info btn-sm" data-title="detail" data-toggle="modal">
                                                <span class="glyphicon glyphicon-pencil">Details</span>
                                            </button>
                                        </a>
                                        <a th:href="@{/village/edit/{id}(id = ${village.id})}" id="edit" class="edit">
                                            <button class="btn btn-outline-warning btn-sm" data-title="edit" data-toggle="modal">
                                                <span class="glyphicon glyphicon-pencil">Edit</span>
                                            </button>
                                        </a>
                                        <a th:href="@{/village/delete/{id}(id = ${village.id})}" id="suprimer">
                                            <button class="btn btn-outline-danger btn-sm" data-title="Delete" data-toggle="modal" data-target="#delete" >
                                                <span class="glyphicon glyphicon-trash">Delete</span>
                                            </button>
                                        </a>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            &lt;/mballoS&gt;  Developpeur Java Php full-stack, Integrateur solutions CLOUD
        </div>
    </div>
</div>
</body>
</html>