<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Admin | Home</title>
</head>
<body>
<script type="text/javascript">
    function showform() {
        if(document.getElementById('frm').hidden===true){
            document.getElementById('frm').hidden=false;
            document.getElementById('button').innerText="Fermer";
        }
        else{
            document.getElementById('frm').hidden=true;
            document.getElementById('button').innerText="Nouveau Caissier";
        }
    }
</script>
<div th:replace="index :: header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><br/><br/>
                <button type="button" class="btn btn-dark" id="button" onclick="showform()">Nouveau Caissier</button>
                <form method="post" th:action="@{/caissier/addcaissier}" th:object="${caissier}" id="frm" hidden>
                    <div class="form-group form-row">
                        <div class="form-group col-md-6">
                            <label for="prenom">Prenom</label>
                            <input type="text" name="prenom" class="form-control" id="prenom" placeholder="Saisissez votre prenom ici..."/>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nom">Nom</label>
                            <input type="text" name="nom" class="form-control" id="nom" placeholder="Saisissez votre nom ici..."/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nci">Nci</label>
                            <input type="text" name="nci" class="form-control" id="nci" placeholder="Saisissez votre nci ici..."/>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="telephone">Telephone</label>
                            <input type="text" name="telephone" class="form-control" id="telephone" placeholder="Saisissez votre telephone ici..."/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numContrat">Numero Contrat</label>
                        <input type="text" name="numContrat" class="form-control" id="numContrat" placeholder="Saisissez votre numero de contrat ici..."/>
                    </div>
                    <button type="submit" class="btn btn-outline-primary" id="btnfrm">Enregistrer</button>
                </form>
                <br/>
                <h4>Liste des Caissier</h4>
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                        <th>Prenom & Nom</th>
                        <th>Telephone</th>
                        <th>Nci</th>
                        <th>numContrat</th>
                        <th>Code</th>
                        <th>Actions</th>
                        </thead>
                        <tbody>
                        <tr th:each="caissier:${caissiers}">
                            <td th:text="${caissier.prenom}+${' '}+${caissier.nom}"></td>
                            <td th:text="${caissier.telephone}"></td>
                            <td th:text="${caissier.nci}"></td>
                            <td th:text="${caissier.numContrat}"></td>
                            <td th:text="${caissier.code}"></td>
                            <td>
                                <button class="btn btn-outline-primary btn-xm" data-title="Detail" data-toggle="modal" data-target="#edit" >
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                            </td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <a th:href="@{/caissier/editcaissier/{id}(id = ${caissier.id})}" id="edit" class="edit">
                                        <button class="btn btn-outline-warning btn-xm" data-title="edit" data-toggle="modal">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Delete">
                                    <a th:href="@{/caissier/deletecaissier/{id}(id = ${caissier.id})}" id="suprimer">
                                        <button class="btn btn-outline-danger btn-xm" data-title="Delete" data-toggle="modal" data-target="#delete" >
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </a>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<!--
Created by Ousmane MBALLO.
User: mballoS
Date: 09/09/2020
Time: 01:53
-->
<!--<script>
    $(".edit").click(function () {
        idcaissier=$(this).attr('data-target');
        $.ajax({
            contentType: "application/json",
            url:'/caissier/editcaissier/'+idcaissier,
            type:'GET',
            dataType:'json',
            success:function (data) {
                $('#frm').hidden=false;
                $('#button').innerText="Annuler";
                $('#prenom').val(data.prenom);
                $('#nom').val(data.nom);
                $('#nci').val(data.nci);
                $('#telephone').val(data.telephone);
                $('#numContrat').val(data.numContrat);
            },
            error:function (err) {
                console.log("Erreur");

            }
        })


    })
</script>-->
</body>
</html>
